In [58]:
import pandas as pd

You can also select specific columns along with rows. This is where .iloc[] is different from .loc[] – it requires column location and not column labels.

In [4]:
df=pd.read_csv('Downloads\\Global Population Trends(2016-2022).csv')
df

,Country,Year,Total Population,Urban Population,Rural Population,Population Density,Life Expectancy,Birth Rate,Death Rate,Fertility Rate,Infant Mortality Rate,Growth Rate
0,Afghanistan,2017,-,-,-,55,63.0,37.342,7.027,5.129,49.4,-
1,Afghanistan,2018,"36,686,784","9,353,296","27,333,488",56,63.0,36.927,6.981,5.002,47.8,3.0
2,Afghanistan,2019,"37,769,499","9,727,157","28,042,342",58,64.0,36.466,6.791,4.87,46.3,3.0
3,Afghanistan,2020,"38,972,230","10,142,913","28,829,317",60,63.0,36.051,7.113,4.75,44.8,3.0
4,Afghanistan,2021,"40,099,462","10,551,772","29,547,690",-,62.0,35.842,7.344,4.643,43.4,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...
1068,Zimbabwe,2017,-,-,-,38,61.0,32.516,8.266,3.706,39.5,-
1069,Zimbabwe,2018,"15,052,184","4,848,158","10,204,026",39,61.0,32.074,7.972,3.659,38.0,2.0
1070,Zimbabwe,2019,"15,354,608","4,945,719","10,408,889",40,61.0,31.518,8.043,3.599,37.1,2.0
1071,Zimbabwe,2020,"15,669,666","5,052,214","10,617,452",41,61.0,31.009,8.132,3.545,36.6,2.0
1072,Zimbabwe,2021,"15,993,524","5,166,388","10,827,136",-,59.0,30.537,9.057,3.491,35.7,2.0

In [7]:
df.head(10)

,Country,Year,Total Population,Urban Population,Rural Population,Population Density,Life Expectancy,Birth Rate,Death Rate,Fertility Rate,Infant Mortality Rate,Growth Rate
0,Afghanistan,2017,-,-,-,55,63.0,37.342,7.027,5.129,49.4,-
1,Afghanistan,2018,"36,686,784","9,353,296","27,333,488",56,63.0,36.927,6.981,5.002,47.8,3.0
2,Afghanistan,2019,"37,769,499","9,727,157","28,042,342",58,64.0,36.466,6.791,4.87,46.3,3.0
3,Afghanistan,2020,"38,972,230","10,142,913","28,829,317",60,63.0,36.051,7.113,4.75,44.8,3.0
4,Afghanistan,2021,"40,099,462","10,551,772","29,547,690",-,62.0,35.842,7.344,4.643,43.4,3.0
5,Albania,2017,-,-,-,105,79.0,10.870,8.150,1.491,8.3,-
6,Albania,2018,"2,866,376","1,728,969","1,137,407",105,79.0,10.517,8.308,1.44,8.3,0.0
7,Albania,2019,"2,854,191","1,747,593","1,106,598",104,79.0,10.343,8.480,1.414,8.4,0.0
8,Albania,2020,"2,837,849","1,762,645","1,075,204",104,77.0,10.285,10.785,1.4,8.4,-1.0
9,Albania,2021,"2,811,666","1,770,478","1,041,188",-,76.0,10.240,11.325,1.39,8.4,-1.0

In [13]:
df.tail(n = 10)

,Country,Year,Total Population,Urban Population,Rural Population,Population Density,Life Expectancy,Birth Rate,Death Rate,Fertility Rate,Infant Mortality Rate,Growth Rate
1063,Zambia,2017,-,-,-,23,62.0,36.601,6.809,4.614,44.2,-
1064,Zambia,2018,"17,835,893","7,762,359","10,073,534",24,62.0,36.040,6.748,4.536,43.6,3.0
1065,Zambia,2019,"18,380,477","8,100,644","10,279,833",25,63.0,35.462,6.571,4.451,42.4,3.0
1066,Zambia,2020,"18,927,715","8,447,250","10,480,465",25,62.0,34.953,6.602,4.379,41.1,3.0
1067,Zambia,2021,"19,473,125","8,800,295","10,672,830",-,61.0,34.511,6.973,4.308,40.2,3.0
1068,Zimbabwe,2017,-,-,-,38,61.0,32.516,8.266,3.706,39.5,-
1069,Zimbabwe,2018,"15,052,184","4,848,158","10,204,026",39,61.0,32.074,7.972,3.659,38.0,2.0
1070,Zimbabwe,2019,"15,354,608","4,945,719","10,408,889",40,61.0,31.518,8.043,3.599,37.1,2.0
1071,Zimbabwe,2020,"15,669,666","5,052,214","10,617,452",41,61.0,31.009,8.132,3.545,36.6,2.0
1072,Zimbabwe,2021,"15,993,524","5,166,388","10,827,136",-,59.0,30.537,9.057,3.491,35.7,2.0

In [14]:
df.describe()

              Year   Birth Rate   Death Rate
count  1073.000000  1073.000000  1073.000000
mean   2019.013048    18.801519     7.841907
std       1.410190     9.903449     2.973418
min    2017.000000     0.000000     0.000000
25%    2018.000000    10.620000     6.067000
50%    2019.000000    16.025000     7.396000
75%    2020.000000    25.921000     9.313000
max    2021.000000    46.351000    21.700000

In [15]:
df.describe(percentiles=[0.3, 0.5, 0.7])

              Year   Birth Rate   Death Rate
count  1073.000000  1073.000000  1073.000000
mean   2019.013048    18.801519     7.841907
std       1.410190     9.903449     2.973418
min    2017.000000     0.000000     0.000000
30%    2018.000000    11.400000     6.393600
50%    2019.000000    16.025000     7.396000
70%    2020.000000    23.017400     8.866600
max    2021.000000    46.351000    21.700000

In [16]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Year,1073.0,2019.013048,1.410190,2017.0,2018.000,2019.000,2020.000,2021.000
Birth Rate,1073.0,18.801519,9.903449,0.0,10.620,16.025,25.921,46.351
Death Rate,1073.0,7.841907,2.973418,0.0,6.067,7.396,9.313,21.700

In [17]:
df.columns

Index(['Country', 'Year', 'Total Population', 'Urban Population',
       'Rural Population', 'Population Density', 'Life Expectancy',
       'Birth Rate', 'Death Rate', 'Fertility Rate', 'Infant Mortality Rate',
       'Growth Rate'],
      dtype='object')

In [18]:
list(df.columns)

['Country',
 'Year',
 'Total Population',
 'Urban Population',
 'Rural Population',
 'Population Density',
 'Life Expectancy',
 'Birth Rate',
 'Death Rate',
 'Fertility Rate',
 'Infant Mortality Rate',
 'Growth Rate']

In [26]:
df.loc[0]

Country                  Afghanistan
Year                            2017
Total Population                   -
Urban Population                   -
Rural Population                   -
Population Density                55
Life Expectancy                 63.0
Birth Rate                    37.342
Death Rate                     7.027
Fertility Rate                 5.129
Infant Mortality Rate           49.4
Growth Rate                        -
Name: 0, dtype: object

In [30]:
df.loc[0:4]

,Country,Year,Total Population,Urban Population,Rural Population,Population Density,Life Expectancy,Birth Rate,Death Rate,Fertility Rate,Infant Mortality Rate,Growth Rate
0,Afghanistan,2017,-,-,-,55,63.0,37.342,7.027,5.129,49.4,-
1,Afghanistan,2018,"36,686,784","9,353,296","27,333,488",56,63.0,36.927,6.981,5.002,47.8,3.0
2,Afghanistan,2019,"37,769,499","9,727,157","28,042,342",58,64.0,36.466,6.791,4.87,46.3,3.0
3,Afghanistan,2020,"38,972,230","10,142,913","28,829,317",60,63.0,36.051,7.113,4.75,44.8,3.0
4,Afghanistan,2021,"40,099,462","10,551,772","29,547,690",-,62.0,35.842,7.344,4.643,43.4,3.0

In [35]:
df.loc[[0,2,8]]

,Country,Year,Total Population,Urban Population,Rural Population,Population Density,Life Expectancy,Birth Rate,Death Rate,Fertility Rate,Infant Mortality Rate,Growth Rate
0,Afghanistan,2017,-,-,-,55,63.0,37.342,7.027,5.129,49.4,-
2,Afghanistan,2019,"37,769,499","9,727,157","28,042,342",58,64.0,36.466,6.791,4.87,46.3,3.0
8,Albania,2020,"2,837,849","1,762,645","1,075,204",104,77.0,10.285,10.785,1.4,8.4,-1.0

In [37]:
df.loc[1:110, ['Total Population', 'Population Density', 'Birth Rate','Death Rate']]

    Total Population Population Density  Birth Rate  Death Rate
1         36,686,784                 56      36.927       6.981
2         37,769,499                 58      36.466       6.791
3         38,972,230                 60      36.051       7.113
4         40,099,462                  -      35.842       7.344
5                  -                105      10.870       8.150
..               ...                ...         ...         ...
106           63,893              1,183       8.400       8.800
107           63,764                  -       7.700      11.300
108                -                 20      14.912       6.940
109          762,096                 20      13.789       6.766
110          767,459                 20      12.871       6.626

[110 rows x 4 columns]

In [43]:
df.loc[760:, ['Total Population', 'Population Density', 'Birth Rate','Death Rate']]# select starting point and list retrive that point to the last point

     Total Population Population Density  Birth Rate  Death Rate
760        37,974,750                124      10.200      10.900
761        37,965,475                124       9.900      10.800
762        37,899,070                124       9.400      12.600
763        37,747,124                  -       8.800      13.800
764                 -                112       8.400      10.700
...               ...                ...         ...         ...
1068                -                 38      32.516       8.266
1069       15,052,184                 39      32.074       7.972
1070       15,354,608                 40      31.518       8.043
1071       15,669,666                 41      31.009       8.132
1072       15,993,524                  -      30.537       9.057

[313 rows x 4 columns]

In [46]:
df.iloc[100:110, :3]

     Country  Year Total Population
100    Benin  2019       12,290,444
101    Benin  2020       12,643,123
102    Benin  2021       12,996,895
103  Bermuda  2017                -
104  Bermuda  2018           63,918
105  Bermuda  2019           63,911
106  Bermuda  2020           63,893
107  Bermuda  2021           63,764
108   Bhutan  2017                -
109   Bhutan  2018          762,096

Cleaning data using pandas

In [57]:
df.isnull().sum()

Country                  0
Year                     0
Total Population         0
Urban Population         0
Rural Population         0
Population Density       0
Life Expectancy          0
Birth Rate               0
Death Rate               0
Fertility Rate           0
Infant Mortality Rate    0
Growth Rate              0
dtype: int64